# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
bin/
obj/
out/

# NuGet Packages
*.nupkg
packages/
!build/

# Visual Studio Code
.vscode/

Thumbs.db
ehthumbs.db
.DS_Store
*.swp
